<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Title</title>
</head>
<body>

    <h1 id="text_1">Hello world!</h1>

</body>

<script>
    <!-- 서버 호출 -->
    axios.get('/accounts/hello_world/')
      .then(function (response) {
        // handle success
        console.log(response);

        // 성공 했을 때 동작
        document.getElementById('text_1').innerHTML = response.data['message'];   //Return TEXT 를 찾음
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      })
      .then(function () {
        // always executed
      });
</script>
</html>